.header{
    background-color: darkred;
    color: white;
  }
  h1 {
    font-family: "ZCOOL QingKe HuangYou", sans-serif;
    font-size: 3.5rem;
    text-align: center;
  }
  h6 {
    font-weight: 200;
    text-align: center;
  }